<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap & CSS-->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/consolidated_reviews.css">
    <link rel="stylesheet" href="../static/css/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicons//site.webmanifest">
    <!-- Other Scripts -->
    <script src="../static/js/footer.js" type="text/javascript" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>RevU's | Error Page</title>
</head>
<body>
    <div class="container-fluid text-center" style="margin-top: 100px;">
        <img src="../static/images/favicons/apple-touch-icon.png">
        <h1 style="margin-bottom: 50px;"> Please upload a valid CSV file. </h1>
        <h3 class="mt-3"> 1. In the CSV file must have column name "Reviews". </h3>
        <h5 class="mt-1"> Note: The letter casing of column name is not sensitive. </h5>
        <h3 class="mt-3"> 2. The reviews must be align in the column name "Reviews" in the CSV File. </h3>
        <h3 class="mt-3 mb-5"> 3. The Consilidated Review only accept 10 reviews per CSV file. </h3>
        <a type="button" href="consolidated_reviews.html" class="btn btn-primary m-3">Go back</a>
    </div>
</body>
</html>
