body, html {
    background-color: var(--color-navyblue) !important;
    color: white !important;
}
#upload-container {
    border: 4px dashed #cccccc;
    text-align: center;
    width: 600px;
    height: 300px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#upload-container:hover {
    border-color: #666666;
}
#analyze-button {
    margin-top: 50px;
    font-weight: bold;
}
@media (max-width: 592px) {
#upload-container {
    width: 220px;
    height: 350px;
}
}