<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap & CSS-->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicons//site.webmanifest">
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- Footer Script -->
    <script src="../static/js/footer.js" type="text/javascript" defer></script>
    <!-- Other Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>RevU's</title>
</head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="100">

    <!-- Navbar -->
    <nav class="pl-5 pr-5 navbar navbar-expand-lg align-items-center navbar-dark fixed-top">
        <a class="navbar-brand" href="index.html">RevU’s</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <a class="nav-link" href="#home">Home</a>
                <a class="nav-link" href="#features">Features</a>
                <a class="nav-link" href="#context">Context</a>
                <a class="nav-link" href="#team">The Team</a>
                <li class="nav-item dropdown">
                    <a id="caret" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analyzer
                    </a>
                    <div class="dropdown-menu dropdown-menu-right fade-in" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="individual_review.html">Individual Review</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="consolidated_reviews.html">Consolidated Reviews</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


<!-- Actual Body -->
<div id="content-wrapper">
    <!-- Home -->
    <section id="home" class="row align-items-center">
        <div class="col-md-6 mt-5">
            <h1 class="periwinkle">
                Transform your
                <span class="highlight" data-aos="fade-left" data-aos-delay="100" data-aos-offset="300" data-aos-easing="ease-in-sine">Customer Feedback</span>
                into
                <span class="highlight" data-aos="fade-right" data-aos-delay="700" data-aos-offset="300" data-aos-easing="ease-in-sine">Actionable Insights</span>
            </h1>
            <p class="info" data-aos="zoom-in" data-aos-delay="1200" data-aos-duration="300">With our Review Analyzer, understand your customers better by extracting key concerns and examining overall product satisfaction.</p>
                <div class="container">
                    <div class="row justify-content-center mt-5">
                        <div class="col-5 m-2">
                            <a id="test-btn" class="btn btn-primary btn-lg" href="individual_review.html" data-aos="zoom-in" data-aos-delay="1700" data-aos-duration="100">Test It Out</a>
                        </div>
                        <div class="col-5 m-2">
                            <a id="start-btn"class=" btn btn-primary btn-lg " href="consolidated_reviews.html" data-aos="zoom-in" data-aos-delay="1900" data-aos-duration="100">Get Started</a>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-6 how-img">
            <img src="../static/images/Landing.png" class="img-fluid"/>
        </div>
    </section>

    <!-- Features -->
    <section id="features" class="row align-items-center pt-lg-5">
    <div class="container text-center">
    <div class="row" data-aos="fade-left" data-aos-delay="50" data-aos-duration="1500">
        <!-- First Row (Image on the Right) -->
        <div class="col-md-6 mb-5 p-5">
            <img src="../static/images/Automate_Analyzer.png" class="fadeInDown reduce-img img-fluid">
        </div>
        <div class="col-md-6 order-md-1 text-lg-left align-self-center">
            <h3>Classify Product Review into Sentiment Categories</h3><br>
            <p>Our system uses Machine learning model to identify if a  product review fall under positive, negative, or neutral by analyzing the text.</p>
        </div>
    </div>

    <div class="row mt-4" data-aos="fade-right" data-aos-delay="50" data-aos-duration="1500">
        <!-- Second Row (Image on the Left) -->
        <div class="col-md-6 order-md-2 mb-5 p-5">
            <img src="../static/images/Streamline_Input.png" class="reduce-img img-fluid">
        </div>
        <div class="col-md-6 text-lg-right align-self-center">
            <h3>Streamline User Input</h3><br>
            <p>Streamline the processing and review of the extensive volume of product reviews, eliminating the need for users to manually sift through each review to gather insights or identify issues.</p>
        </div>
    </div>

    <div class="row mt-4" data-aos="fade-left" data-aos-delay="50" data-aos-duration="1500">
        <!-- Third Row (Image on the Right) -->
        <div class="col-md-6 mb-5 p-5">
            <img src="../static/images/Overall_Analysis.png" class="reduce-img img-fluid">
        </div>
        <div class="col-md-6 order-md-1 text-lg-left align-self-center">
            <h3>Overall Product Analysis</h3><br>
            <p>With the given product review or a set of product reviews, you’ll get an analysis report of a set of keywords or common concerns and overall product satisfaction with confidence level.</p>
        </div>
    </div>
    </div>
    </section>

    <section id="context" class="row align-items-center pt-lg-5">
    <!-- Purpose of the Project -->
    <div id="purpose" class="container mx-auto pt-lg-5">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="title font-weight-bold" data-aos="zoom-in" data-aos-delay="50" data-aos-duration="1000">What's the Purpose of the Project?</h2>
            </div>
            <div class="col-md-8">
                <img src="../static/images/Purpose_Top_Manager.png" alt="Centered Image" class="img-fluid mb-3" data-aos="zoom-out" data-aos-delay="500" data-aos-duration="600">
            </div>
            <div class="text-center ml-5 mr-5 pl-lg-5 pr-lg-5"  data-aos="zoom-in" data-aos-delay="600" data-aos-duration="600">
                <p>The thesis tackles the challenge of handling a vast number of online product reviews, which can be a daunting and laborious task when performed manually.</p>
                <p>The challenge we aim to address in this thesis is that existing reviews typically provide only a numerical rating, lacking specific details about customers' feedback and sentiments.</p>
                <p>The thesis addresses the challenge of small businesses effectively utilizing customer feedback to inform decision-making and enhance their products.</p>
            </div>
        </div>
    </div>

    <!-- Significance of the Study -->
    <div id="significance" class="container mx-auto mt-5  pt-lg-5">
        <div class="row justify-content-center">
            <h2 class="title font-weight-bold" data-aos="zoom-in" data-aos-delay="50" data-aos-duration="1000">Significance of the Study</h2>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex flex-column align-items-center"  data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="500" data-aos-duration="800">
                <div id="small_business" class="image-container">
                    <img src="../static/images/Small_Business.jpg" alt="A Cashier behind the counter" class="img-fluid">
                    <div class="text-overlay pl-5 pr-5">
                        <p>This study provides a potential for small businesses to drive growth and sustainability. Implementing customer feedback-driven changes increases the company’s reputation, fosters loyalty, and boosts profitability. The effectiveness of the policies will enable these businesses to make their own brand identity, thus standing out in a crowded market.</p>
                    </div>
                </div>
                <h3>Small Businesses</h3>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="700" data-aos-duration="800">
                <div id="top_manager" class="image-container" >
                    <img src="../static/images/Top_Manager.jpg" alt="Business Woman checking her phone in front of a laptop" class="img-fluid">
                    <div class="text-overlay">
                        <p>The proposed system equips top management with actionable insights, allowing them to make strategic adjustments to their policies that enhance products, refine marketing strategies, and improve customer support. Top managers can adapt to evolving customer preferences by making data-driven decisions.</p>
                    </div>
                </div>
                <h3>Top Management</h3>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center"  data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="800">
                <div id="customer" class="image-container">
                    <img src="../static/images/Happy_Customer.jpg" alt="Happy Customer Buying Online with Credit Card on Hand" class="img-fluid">
                    <div class="text-overlay">
                        <p>The ripple effect of these improvements in the businesses will extend to the customer. Customers benefit from tailored products and services, exceeding their expectations. Enhanced satisfaction, trust, and loyalty result from businesses that actively listen and adapt, creating a more rewarding purchasing experience.</p>
                    </div>
                </div>
                <h3>Customers</h3>
            </div>
        </div>
    </div>
    </section>

    <!-- Meet the Proponents -->
    <section id="team" class="row align-items-center mt-5 pt-lg-5 pb-lg-5">
    <div class="container  pt-lg-5">
        <div class="row">
            <div class="col-md-12 text-center" data-aos="zoom-out-down" data-aos-delay="50" data-aos-duration="1000">
                <h2 class="title font-weight-bold">Meet the Proponents</h2>
                <p>Bachelor of Science in Computer Science</p>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-md-4">
                <div class="member-frame" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-delay="500" data-aos-duration="1000">
                    <img src="../static/images/ksabawalan.png" class="img-fluid" alt="Bawalan's Picture">
                    <div class="text-frame">
                    <h3 class="font-weight-bold text-center smaller-title">Krishna Samantha A. Bawalan</h3>
                    <p class="text-center highlight">Project Manager</p>
                    <p class="text-center">Delegated tasks to team members to give them roles and ensure that the research is progressive.
                                            <br>Outlined the research paper objectives and system design & development.
                                            <br>Bridged the gap between the system code and research paper.
                                            <br>Co-created the ML Model and Web Design & Development</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="member-frame" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-delay="500" data-aos-duration="1000">
                    <img src="../static/images/jjchernandez.png" class="img-fluid" alt="Jester's Picture">
                    <div class="text-frame">
                    <h3 class="font-weight-bold text-center smaller-title">John Jester C. Hernandez</h3>
                    <p class="text-center highlight">Lead Developer</p>
                    <p class="text-center">Communicated with the research mentor gave guidance on how to conduct a thesis.
                                            <br>Implemented the system functionalities that utilized the Machine Learning Model.
                                            <br>Identified the suitable ML algorithm and how to train one.
                                            <br>Co-created the ML Model and Web Development</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="member-frame" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-delay="500" data-aos-duration="1000">
                    <img src="../static/images/emquitan.png" class="img-fluid" alt="Elaine's Picture">
                    <div class="text-frame">
                    <h3 class="font-weight-bold text-center smaller-title">Elaine M. Quitan</h3>
                    <p class="text-center highlight">Research Paper Supervisor</p>
                    <p class="text-center">Communicated with the School Instructors about concerns.
                                            <br>Organized the Paper for readability and ensured it followed the specified guidelines
                                            <br>Researched on the Related literature to be used as a reference.
                                            <br>Co-created the Web Design & Development</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <footer-component/>
</div>

<script>
    // Navbar Scroll Script
    $(document).ready(function () {
        $('body').scrollspy({ target: '#navbarNav' });
    });
</script>

<!-- AOS Script -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>
</html>

